<%= form_for(@doug) do |f| %>
  <% if @doug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doug.errors.count, "error") %> prohibited this doug from being saved:</h2>

      <ul>
      <% @doug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
