<h1>Listing dougs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dougs.each do |doug| %>
      <tr>
        <td><%= link_to 'Show', doug %></td>
        <td><%= link_to 'Edit', edit_doug_path(doug) %></td>
        <td><%= link_to 'Destroy', doug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doug', new_doug_path %>
